    .top-border{
      border-top-style: solid;
      border-color: lightgray;
    }
    .bottom-border{
      border-bottom-style: solid;
      border-color: lightgray;
    }
    .tble{
      border-style: solid;
      border-color: lightgray;
      background-color: whitesmoke;
      float: right;
    }
    div{
      word-wrap:break-word;
    }
    img{
    max-width:150px;
    max-height:150px;
    }
